<div class="card mb-3 col-12 col-md-12">
    <section class="row">
        <div class="col-md-2" *ngIf="imageUrl">
            <img [src]="imageUrl" alt="name" class="mx-auto d-block img-item mb-2 mt-2">
        </div>

        <div class="col-md-10 px-3">
            <div class="card-block px-3">

                <h4 class="card-title mt-3 btn" (click)="openDialog(id, type, selected)">
                    <span *ngIf="isPageRecommended">
                        <i *ngIf="type == 'brewdogBeers'" class="fa fa-beer"></i> 
                        <i *ngIf="type == 'starWars'" class="fa fa-space-shuttle"></i> 
                    </span>
                    <a target="_blank">{{name}}</a>
                </h4>

                <p class="card-text text-justify mb-2">
                    {{limitText(description)}}
                </p>

                <button type="button" class="btn btn-outline-primary btn-sm mb-3" *ngIf="!isPageRecommended" [hidden]="selected" (click)="setItemSelectes(id, type)">
                    <i class="fa fa-thumbs-up"></i> {{'recommend' | translate}}
                </button>
                <button type="button" class="btn btn-primary btn-sm mb-3" *ngIf="!isPageRecommended" [hidden]="!selected" (click)="setItemSelectes(id, type)">
                    <i class="fa fa-check"></i> {{'recommended' | translate}}
                </button>

            </div>
        </div>

    </section>
</div>