<main>
  <article>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Frontend Challenge#</h1>
      <p class="lead">O que gosta mais? Queremos saber a sua opinião!</p>
    </div>
    
    <div class="container mb-5">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-6 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><i class="fa fa-beer"></i> Brewdog Beers</h4>
          </div>
          <div class="card-body">
              <img class="card-img-top mb-3 rounded img-home" src="../../../assets/img/brewdog-beer.jpg" alt="Star Wars" [routerLink]="['/brewdog-beers']">
              <div class="middle">
                  <div class="text" [routerLink]="['/brewdog-beers']"><i class="fa fa-plus"></i> Saiba Mais</div>
                </div>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="['/brewdog-beers']"><i class="fa fa-plus"></i> Saiba Mais</button>
          </div>
        </div>
        <div class="card mb-6 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><i class="fa fa-space-shuttle"></i> Star Wars</h4>
          </div>
          <div class="card-body">
            <img class="card-img-top mb-3 rounded img-home" src="../../../assets/img/starWars.png" alt="Star Wars" [routerLink]="['/star-wars']">
            <div class="middle">
                <div class="text" [routerLink]="['/star-wars']"><i class="fa fa-plus"></i> Saiba Mais</div>
              </div>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="['/star-wars']"><i class="fa fa-plus"></i> Saiba Mais</button>
          </div>
        </div>

      </div>
    </div>

  </article>
</main>