<block-ui>
  <abe-nav-bar></abe-nav-bar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>


  <footer class="footer-body border-top">
    <div class="container">
      <p class="float-right">
        <a>{{'frontendChallenge' | translate}}#!</a>
      </p>
      <p>vrds©2018</p>
      <p>{{'learnMore' | translate}}
        <a href="https://github.com/vinitecnico/frontTestChallenge.git">github</a> {{'or' | translate}}
        <a href="https://www.linkedin.com/in/vrodriguessantos/">linkedin</a>.</p>
    </div>
  </footer>
</block-ui>