.footer-body {
    color: $color-gray;
    background-color: $color-white;
}

.bg-light {
    background-color: $background-color;
}

.header-main {
    margin-bottom: 2px!important;
    h5 {
        font-weight: 400!important;
        font-size: 1.25rem;
    }
}