body {
    background-color: $background-color!important;
}

.nav-background-color{
    background-color: $color-white!important;
}

.footer-body {
    color: $color-gray;
    background-color: $color-white;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

.header-main {
    margin-bottom: 2px!important;
    a {
        font-weight: 400!important;
        font-size: 1.25rem;
        color: $color-link;
    }
}

.img-home {
    max-height: 280px;
}

.img-item {
    max-height: 120px;
}

.page-min-height {
    min-height: 490px!important;
}

abe-input-search {
    width: 100%;
    float: right;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-body.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.card-body:hover .image {
    opacity: 0.3;
}

.card-body:hover .middle {
    opacity: 1;
  }

.text {
  background-color: $color-gray;
  color: $color-white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}

@media only screen and (max-width: $mobile-max-size) {
    .btn {
        width: 100%!important;
    }
}