body {
    background-color: $background-color;
}

.footer-body {
    color: $color-gray;
    background-color: $color-white;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

.header-main {
    margin-bottom: 2px!important;
    a {
        font-weight: 400!important;
        font-size: 1.25rem;
        color: #212529;
    }
}

.img-home {
    max-height: 280px;
}

.img-item {
    max-height: 120px;
}

.page-min-height {
    min-height: 576px;
}