<main class="page-min-height">
    <article class="row">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">
                <i class="fa fa-beer"></i> {{'brewdogBeers' | translate}}</h1>
            <p class="lead">{{'ifYouLikeItLeaveItLike' | translate}}
                <i class="fa fa-thumbs-up"></i>!</p>
        </div>
        <abe-input-search [searchItems]="getBrewdogbeers" [hidden]="!endSearch"></abe-input-search>
        <div class="container-fluid">
            <div *ngIf="endSearch && items.length > 0">
                <div class="row" *ngFor="let item of items">
                    <abe-item [id]="item.id" [type]="'brewdogBeers'" [name]="item.name" [description]="item.description" [imageUrl]="item.image_url"
                        [selected]="item.selected" [isPageRecommended]="false">
                    </abe-item>
                </div>                
            </div>
            <div class="row" *ngIf="endSearch && items.length == 0">
                <div class="mb-3 col-12 col-md-12">
                    <div class="alert alert-info" role="alert">
                        <strong>{{'notFound' | translate}}</strong>.
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>