<main class="page-min-height">
    <article class="row">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">
                <i class="fa fa-beer"></i> {{'brewdogBeers' | translate}}</h1>
            <p class="lead">{{'ifYouLikeItLeaveItLike' | translate}}
                <i class="fa fa-thumbs-up"></i>!</p>
        </div>
        <abe-input-search [searchItems]="getBrewdogbeers" [hidden]="!endSearch"></abe-input-search>
        <!-- <abe-list-items class="container-fluid" [items]="items" [endSearch]="endSearch"></abe-list-items> -->
    </article>
</main>