$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$mobile-max-size: 576px;
$color-gray: #6c757d;
$color-white: #FFFFFF;
$background-color: #f8f9fa;
$color-link: #212529;
